
<div style="background:#f8f8f8;" ng-controller="com_ctrl">
	<header class="pulib-header" style="background:#fff;">
	
		<div class="public-nav">
			<div class="logo"></div>
			<div class="mt_f36 ml_130 f_14">
			<div>
				<a class="ml_30 fl hand" href="/main.html#/zpindex">求职</a>
				 <span class="head-bt fr"  ng-if="we=='0'">
				    <button class="dlbt" loginbox>登录</button>
					<button registerbox>注册</button>
				</span>
			</div>							
			<!-- 登陆后出现 -->
			<span ng-if="we=='1'">
				<aside class="fr join-user-top clblue">
				<span><a href="/main.html#resume" target="blank">我的简历</a></span>
				<span><a href="/main.html#chatlist" target="blank">聊天</a></span>
				<span><a href="/main.html#job_manage" target="blank">我要招聘</a></span>
				<span><a href="javascript:;" lgout lgnull>退出登录</a></span>
				<img src="images/user.png" alt="">
					  </aside>
			</span>			
			<!-- 登陆后出现 -->
		 </div>
		</div>
		
	</header>
	<div class="container-fluid public-content resume chat">
		
		<div class="main-wap">
			<div class="resume-left chat_left this-left mr_450">
				<div class="search" style="width: 93%;position:relative;">
					<input class="f_16 dpi" type="search" ng-model="com_list4.params.keyword" placeholder="搜索职位,公司">
					<div class="dpi" style="border-left: 1px solid#f3f3f3;width: 120px;position:absolute;top:3px;right:15px;width: 50px;padding-left: 12px;">
						<img src="/images/fangda.png" alt="" style="" comtime="com_list4">
					</div>
					<button class="sousuo dpi" mkshow="mk1" style="background:#fff;position:absolute;top:2px;right:-54px;" id="bianji">编辑</button>
				</div>
				<ul class="resume-list of_h chat-list">
					<li class="chatLi li-first" ng-repeat="(key, value) in chatsidebar">
						<a href="/main.html#chat?codeid={{value.codeid}}" name="jump">
							<div class="img fl" style="position: relative;">
								<img ng-src="{{value.headimg}}" alt="">
								<h6 ng-if="value.weidu>0" class="weidu1" style="top:34px;left:85px;">{{value.weidu}}</h6>
							</div>
							<div class="chat-left fl of_h">
								<ul class="detail-list fr">
									<h2 class="f_16 fl dpi">
										<span ng-bind="value.nickname"></span>-
										<span ng-bind="value.companyname"></span>-
										<span ng-bind="value.experience_cn"></span>
									</h2>	
									<li>{{value.jobs_name}}<span ng-if="value.nature>0">({{value.nature_cn}})</span>&nbsp&nbsp|</li>
									<li>{{value.district_cn}}&nbsp&nbsp|</li>
									<li>{{value.wage_cn}}&nbsp&nbsp&nbsp</li>
								</ul>
								<span class="chat-span-con dpb f_14" ng-bind-html="value.content|htmlfil"></span>
							</div>
							<div class="chat-right fr">
								<span ng-bind="value.createtime"></span>
							</div>
							<span selectrun="com_del.params.chatuser" value="{{value.chatuser}}" name="delone" ng-if="mk1==1" class="fr f_14 mt_116 mr_f137 color_blue3" setstore="{{value.jobid}}" key="jobid">删除</span>
						</a>
					</li>
				</ul>
				<div id="page" class="t_c"></div>
			</div>
			</div>
			<div class="resume-right chat_right this-right fl">
				<div class="resume-right-bottom">
					<div class="bottom-left fl">
						<img src="images/wechat.png" alt="">
					</div>
					<div class="bottom-right fl">
						<h4>下载石头APP</h4>
						<h5>随时随地的使用</h5>
						<h6>DOWNLOAD</h6>	
					</div>
				</div>
			</div>
		

	</div>

</div>
